/*------------------------------------------------------------------------------
CLEAR THE DECKS
------------------------------------------------------------------------------
html,body, div, span, ul, ol, li, form, label, table, h1, h2, h3, h4, h5, h6, p, a, img  { 
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
a img,:link img,:visited img { border: 0 }
table{ border-collapse: collapse; border-spacing: 0; width: 100% }
td, th, caption { padding: 2px 4px }
h1, h2, h3, h4, h5, h6, p { font-weight: normal; }
h1, h2, h3, h4, h5, h6 { word-spacing: 0.25px; }
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   /*font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;*/
   vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
   outline: 0;
}

/* grand catch */

body {
   line-height: 1;
   color: #999;
   background: white;
}
ol, ul {
   list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
   border-collapse: separate;
   border-spacing: 0;
}
caption, th, td {
   text-align: left;
   font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: "";
}
blockquote, q {
   quotes: "" "";
}

/*------------------------------------------------------------------------------
HIGHSITE HTML PREFERENCES
------------------------------------------------------------------------------*/
* {
   font-family: verdana, serif;
}

h1, h2, h3, h4, h5, h6, p {
   margin-bottom: .8em;
}

h1, h2, h3, h4 {
   letter-spacing: -.02em;
}
h1, h2, h3, h4, h5, h6 { word-spacing: 0.25px; }

h1, h2, h3 {
   line-height: 112%;
}
h4, h5, h6 {
   line-height: 125%;
}
p, a, li, td, label {
   line-height: 150%;
}

h1 { color: #0069aa; }

h2 { color: #5b862c; }

h3 { color: #c00; }

/*------------------------------------------------------------------------------
WEB.FONTS
------------------------------------------------------------------------------*/   
/*
h1, h2, h3, h4, h5, h6, b, strong, th {
   font-style: normal;
   font-weight: 700;
}
h1+i, h2+i, h3+i, h4+i, h5+i, h6+i, b+i, strong+i,  b+i, strong+em {
   font-style: italic;
   font-weight: 700;
}
p, a, li, td, label {
   font-style: normal;
   font-weight: 300;
}
i, em {
   font-style: italic;
   font-weight: 300;
}*/
/* Monotype selectors */
/*h1, h2, h3, h4, h5, h6, b, strong {
   font-family:'LinotypeUniversW01-Blac 723733';
   font-weight: normal;
}
p, a, li, td, label {
   font-family: 'LinotypeUniversW01-Ligh 723625';
}
i, em {
   font-family:'LinotypeUniversW01-LtCn';
   font-style: normal;
}*/

/*------------------------------------------------------------------------------
SITE-WIDE HTML
------------------------------------------------------------------------------*/   
body {
   margin: 0;
   background: #ccc; /*url(/xm_client/images/body-top-background.jpg) repeat-x top*/;
}

a { text-decoration: none; }
a:link { color: #0069aa; }
a:visited { color: #c51643; }
a:hover { color: #666; }
a:active { color: #c51643; }

html, body {height: 100%;}

.container {
    position: relative;
   margin: 20px auto;
   width: 1000px;
    overflow: auto;
    min-height: 100%;
    padding: 50px;
    background-color:#fff;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 2px 2px 10px #666;
}

.dialog {
    margin: 0 auto 30px;
    position:relative;
    width: 1000px;
    border-radius: 6px;
    background:-moz-linear-gradient(top,#fff 0%, #ddd 100%);
    background:-webkit-linear-gradient(top,#fff 0%, #ddd 100%);
    -moz-box-shadow: 0px 2px 6px 0px #999;
    -webkit-box-shadow: 0px 2px 6px 0px #999;
    box-shadow: 0px 2px 6px 0px #999;
    overflow: hidden;
}

.dialog_topper {
    background:-moz-linear-gradient(19% 75% 90deg,#183b6f,#0a4899);
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(#0a4899),to(#183b6f));
    color: #fff;
    padding: 10px 0px 10px 30px;
}
.dialog_topper p {padding:0; margin:0;}

.dialog_main {
    padding: 10px 30px 30px 30px;
}
.dialog_main, .dialog_main table, .dialog_main ul, .dialog_main form, .dialog_main select {
    color: #444;
}
.dialog_main table th {
    background-color: #444;
}
section {
   overflow:auto;
    margin-bottom: 30px;
    max-width: 100%;
}

.centered {
    position:relative;
    margin:0 auto;
    width: 1100px;
}

/*------------------------------------------------------------------------------
LISTS
------------------------------------------------------------------------------*/

ul {
    padding-left: 20px
}

ul li, section ol li {
    list-style: disc;
    margin-bottom: 5px;
}

ul ul li, section ol ol li {
    margin-left: 15px;
    list-style: circle;
}

ol {
    padding-left: 30px
}

ol li {
    list-style-type: decimal;
}

ol ol li {
    list-style-type: lower-alpha;
}

/*------------------------------------------------------------------------------
FOOTER
------------------------------------------------------------------------------*/

footer { /*or just footer */
   position: relative;
   height: 100px; /* same as footer height */
    text-align:center;
   clear:both;
    color: #888;
    padding: 30px;
    font-size: 13px
}

footer address {
    display:inline;
}


/*Opera Fix*/
body:before {
   content:"";
   height:100%;
   float:left;
   width:0;
   margin-top:-32767px;
}

/*------------------------------------------------------------------------------
DIVS
------------------------------------------------------------------------------*/   
header {
   margin: 0 auto -20px;
   width: 1000px;
   position: relative;
}
section, nav {
   float: left;
   width: 1000px;
   min-height: 20px;
}

/* universal stuff */
.intro, .left-box, .center-box, .right-box, .home-side-bar, .main_col, .right_col {
   background: #fff;
   box-sizing: border-box; /* IE and others */
   -moz-box-sizing:border-box; /* Firefox */
   -webkit-box-sizing:border-box; /* Safari */   
   padding: 20px 30px 20px 20px;
}

/* shadows */
.intro, .left-box, .center-box, .right-box, .home-side-bar, .main_col, .right_col {
   -webkit-box-shadow: 0px 6px 6px 0px #ccc;
   box-shadow: 0px 6px 6px 0px #ccc;
   /* For IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=180, Color='#cccccc')";
   /* For IE 5.5 - 7 */
   filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=180, Color='#cccccc');
}

/*==============================================================================
NAVIGATION  
==============================================================================*/      
nav.nav {
    width: 1100px;
    display: block;
}

/*------------------------------------------------------------------------------
Blue Navigation  
------------------------------------------------------------------------------*/      
nav.bluenav {
   /*position or float*/
    background:-moz-linear-gradient(19% 75% 90deg,#183b6f,#0a4899);
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(#0a4899),to(#183b6f));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 2px 10px #666;
}

/*------------------------------------------------------------------------------
Tertiary Navigation  
------------------------------------------------------------------------------*/      
nav.tertiary {
   float: right;
   width: auto;   /* Overwrite of default nav width: 1000px */
   margin: -29px 0 15px;
}
nav.tertiary li {
   float: left;
   margin: 0 0 0 10px;
   list-style: none;
}

/*------------------------------------------------------------------------------   
HORIZONTAL MENU
------------------------------------------------------------------------------*/      

/*CONTROLS ALL LISTS*/ 
#menuh { 
   float: left;
   display: inline;
   list-style: none;
}

/*----- BELOW THREE DIVS CONTROL ALL LIST ITEMS -----*/

#menuh li { 
    float: left;
    margin: 0;
    border-top: 1px solid #296dc0;
    border-right: 1px solid #296dc0;
}

#menuh li a {
   display: block;
   font-size: 14px;
   line-height: 16px;/*set vert spacing between li's and the main UL... */
   text-transform: uppercase;  /*...from the top of the nav div and the top of the... */
   letter-spacing: .05em;        /*...flydown from bottom of the top ul, and left and right... */
   color: #ffffff;              /*...distances between edges of type and left of li */
   text-decoration: none;
}
#menuh li a { padding: 7px 30px 6px 30px; }

#menuh li a:hover {
   color: #aaa;
    background-color: #fff;
}
#menuh li a.current_top_menu_item {
   color: #a68338;
}

/*CONTROLS SECOND-LEVEL LIST ITEMS OR FLY-DOWNS*/ 

#menuh li ul {  
   position: absolute;
   margin: 0 0 0 0;
   padding: 0;
   left: -999em;
   z-index: 1;
    box-shadow: 1px 2px 4px #777;
}

#menuh ul {
   float: left;
   padding: 0;
   list-style: none;
   width: 160px; /* can be anything AFAIK, but it has to be there*/
}

#menuh ul li { 
    float: left;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-right: none;
}

#menuh ul li a {
   display: block;
   padding: 8px 30px 5px 10px;
    color: #aaa;
   background-color: #fff;
   width: 120px; /* master width minus left & right padding */
   border-top: 1px solid #ccc;
}

#menuh ul li a:hover {
   color: #ffffff;
   background-color: #aaa; 
}

/*CONTROLS THIRD-AND ABOVE LEVEL LIST ITEMS*/
#menuh li ul li ul {   
   margin: -22px 0 0 161px; /* the -top px vertically positions the right flyout */
    width: 160px; /*...and the left margin is ul-li-a horiz spacing+width+1/0 */
}

#menuh li ul li ul li a {   
   background-color: #aaa; 
    color: #fff;
}
#menuh li ul li ul li a:hover {   
   color: #aaa;
   background-color: #fff; 
}

/* lists nested under hovered list items */
#menuh li:hover ul ul, #menuh li:hover ul ul ul, #menuh li:hover ul ul ul ul, #menuh li.sfhover ul ul, #menuh li.sfhover ul ul ul, #menuh li.sfhover ul ul ul ul {
   left: -999em;
}
#menuh li:hover ul, #menuh li li:hover ul, #menuh li li li:hover ul, #menuh li li li li:hover ul, #menuh li.sfhover ul, #menuh li li.sfhover ul, #menuh li li li.sfhover ul, #menuh li li li li.sfhover ul {
   left: auto;
}

/* ----- footer menu --- */
.footer_menu {
    float: left;
    min-height: 100px;
    width: 850px;
    margin: 30px 0 0 0;
}
.menu2 { 
   display: inline;
   list-style: none;
   width: 850px;
}

.menu2 li { float: left; margin: 0;}

.menu2 li.top a {
   text-transform: uppercase;
   color: #555;
   font-weight: bold;
}  

.menu2 li a {
   display:block;
   font-size: 13px;
   line-height: 18px;
}

.menu2 li a:hover {
   color: #aaa;
}
.menu2 li ul {
   position: relative;
   left: 0;
   list-style: none;
}

.menu2 ul {
   float: left;
   margin: 0;
   padding: 0;
   width: 140px; 
}

.menu2 ul li a {
   display: block;
   text-transform: capitalize !important;
   text-align: left;
   padding: 0;
   width: 100px; 
   line-height: 15px;
   margin: 5px 0 0 0;
   font-weight: normal !important
}
.menu2 ul li a:hover {
   color: #999;
}

/*------------------------------------------------------------------------------   
SECONDARY NAV MENU
------------------------------------------------------------------------------*/

#secondary {
    position:relative;
    top: 34px;
    float: right;
   display: inline;
   list-style: none;
    z-index:999;
}

#secondary li {
    float: left;
    list-style: none;
    padding-right:20px;
}

#secondary li a {
    color: #999;
    font-size: 14px;
}

#secondary li a:hover {
    color: #666;
}

/*------------------------------------------------------------------------------   
Sections
------------------------------------------------------------------------------*/

.section {
   float: left;
   width: 100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-box-shadow: 0px 0px 10px 0px #bbbbbb;
   box-shadow: 0px 0px 10px 0px #bbbbbb;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin-bottom: 15px;
   background: #fff;
   color: #0069aa;
}

.section { 
   .dashtop {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 8px 20px;
   }
   .dash_content {
      /*float: left;*/
      /*width: 100%;*/
      padding: 10px 20px;
   }
   table {
      width: 100%;
   }
}

/*------------------------------------------------------------------------------
TABLES
------------------------------------------------------------------------------*/
table {
    margin: 0 0;
}

table th { 
    background-color: #999;
    color: #fff;
    padding: 5px 20px
}

table td {
    padding: 5px 20px;
}
