@charset "UTF-8";
/*------------------------------------------------------------------------------
CLEAR THE DECKS
------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  text-decoration: none; }

body {
  line-height: 1;
  /* set line-height multiplier to be used with font size*/ }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

q {
  quotes: "“" "”" "‘" "’"; }

blockquote:before, q:before {
  content: open-quote; }

blockquote:after, q:after {
  content: close-quote; }

ol li {
  list-style-type: decimal;
  margin-left: 25px; }

ul li {
  list-style-type: disc;
  margin-left: 20px; }

sup {
  vertical-align: super;
  font-size: smaller; }

sub {
  vertical-align: sub;
  font-size: smaller; }

/*
div, aside, nav, header, section, footer {
    @include box-sizing(border-box);
}
 */
/*--------------
Instead of floats (doesn't collapse the parent like floats)
display: inline-block;
margin-left: -4px; or PREFERRED: set parent to font-size: 0 or display: inline-table
vertical-align: top;
----------------*/
/*------------------------------------------------------------------------------
HIGHSITE HTML PREFERENCES
------------------------------------------------------------------------------*/
* {
  font-family: verdana, serif; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: .2em;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  word-spacing: 0.25px; }

h1, h2, h3 {
  line-height: 1.10em; }

h4, h5, h6 {
  line-height: 1.25em; }

p, a, li, td, label {
  line-height: 1.5em; }

/* initial sizes—use /xm_client/editor.css for special TinyMCE editor styling*/
h1 {
  font-size: 2.2em;
  line-height: 1.2em; }

h2 {
  font-size: 1.6em;
  margin-top: .6em; }

h3 {
  font-size: 1.6em;
  margin-top: .8em; }

h4 {
  font-size: 1.4em;
  margin-top: .8em; }

h5 {
  font-size: 1.2em;
  margin-top: .8em; }

h6 {
  font-size: 1em; }

p {
  margin-top: .6em; }

p, td {
  font-size: 100%; }

a, i, em, span, q {
  color: inherit;
  font-size: inherit;
  font-weight: inherit; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: blue; }
  a:hover {
    color: gray; }

/*------------------------------------------------------------------------------
SITE-WIDE HTML
------------------------------------------------------------------------------*/
body {
  margin: 0;
  background: #fff;
  /*url(/xm_client/images/body-top-background.jpg) repeat-x top*/ }

html, body {
  height: 100%; }

.container {
  position: relative;
  margin: 20px auto;
  max-width: 1000px;
  width: 100%;
  overflow: auto;
  min-height: 100%;
  padding: 50px;
  background-color: #fff;
  clear: both; }

.dialog {
  margin: 0 auto 30px;
  position: relative;
  width: 100%;
  max-width: 1000px; }

.dialog_topper {
  background-color: #0a4899;
  color: #fff;
  padding: 6px 0px 6px 30px; }

.dialog_topper p {
  padding: 0;
  margin: 0; }

.dialog_main {
  padding: 10px 30px 30px 30px; }
  .dialog_main:after {
    content: " ";
    clear: both;
    display: block; }

.dialog_main, .dialog_main table, .dialog_main ul, .dialog_main form, .dialog_main select {
  color: #444; }

.dialog_main table th {
  background-color: #444; }

section {
  overflow: auto;
  margin-bottom: 30px;
  max-width: 100%; }

.centered {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%; }

/*------------------------------------------------------------------------------
LISTS
------------------------------------------------------------------------------*/
ul {
  padding-left: 20px; }

ul li, section ol li {
  list-style: disc;
  margin-bottom: 5px; }

ul ul li, section ol ol li {
  margin-left: 15px;
  list-style: circle; }

ol {
  padding-left: 30px; }

ol li {
  list-style-type: decimal; }

ol ol li {
  list-style-type: lower-alpha; }

/*------------------------------------------------------------------------------
FOOTER
------------------------------------------------------------------------------*/
footer {
  /*or just footer */
  position: relative;
  height: 100px;
  /* same as footer height */
  text-align: center;
  clear: both;
  color: #888;
  padding: 30px;
  font-size: 13px; }

footer address {
  display: inline; }

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

/*------------------------------------------------------------------------------
DIVS
------------------------------------------------------------------------------*/
header, section, nav, body, div {
  box-sizing: border-box; }

header {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  position: relative; }

section, nav {
  float: left;
  max-width: 1000px;
  width: 100%;
  min-height: 20px; }

/* universal stuff */
.intro, .left-box, .center-box, .right-box, .home-side-bar, .main_col, .right_col {
  background: #fff;
  box-sizing: border-box;
  /* IE and others */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  padding: 20px 30px 20px 20px; }

/*==============================================================================
NAVIGATION
==============================================================================*/
nav.nav {
  max-width: 100%;
  width: 100%;
  display: block; }

/*------------------------------------------------------------------------------
Blue Navigation
------------------------------------------------------------------------------*/
nav.bluenav {
  background-color: #0a4899; }

/*------------------------------------------------------------------------------
Tertiary Navigation
------------------------------------------------------------------------------*/
nav.tertiary {
  float: right;
  width: auto;
  /* Overwrite of default nav width: $max-width */
  margin: -29px 0 15px; }

nav.tertiary li {
  float: left;
  margin: 0 0 0 10px;
  list-style: none; }

/*------------------------------------------------------------------------------
HORIZONTAL MENU
------------------------------------------------------------------------------*/
/*CONTROLS ALL LISTS*/
#menuh {
  float: left;
  display: inline;
  list-style: none; }

/*----- BELOW THREE DIVS CONTROL ALL LIST ITEMS -----*/
#menuh li {
  list-style: none;
  float: left;
  margin: 0;
  border-top: 1px solid #296dc0;
  border-right: 1px solid #296dc0; }

#menuh li a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  /*set vert spacing between li's and the main UL... */
  text-transform: uppercase;
  /*...from the top of the nav div and the top of the... */
  letter-spacing: .05em;
  /*...flydown from bottom of the top ul, and left and right... */
  color: #ffffff;
  /*...distances between edges of type and left of li */
  text-decoration: none; }

#menuh li a {
  padding: 7px 30px 6px 30px; }

#menuh li a:hover {
  color: #aaa;
  background-color: #fff; }

#menuh li a.current_top_menu_item {
  color: #a68338; }

/*CONTROLS SECOND-LEVEL LIST ITEMS OR FLY-DOWNS*/
#menuh li ul {
  position: absolute;
  margin: 0 0 0 0;
  padding: 0;
  left: -999em;
  z-index: 1;
  box-shadow: 1px 2px 4px #777; }

#menuh ul {
  float: left;
  padding: 0;
  list-style: none;
  width: 160px;
  /* can be anything AFAIK, but it has to be there*/ }

#menuh ul li {
  float: left;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-right: none; }

#menuh ul li a {
  display: block;
  padding: 8px 30px 5px 10px;
  color: #aaa;
  background-color: #fff;
  width: 120px;
  /* master width minus left & right padding */
  border-top: 1px solid #ccc; }

#menuh ul li a:hover {
  color: #ffffff;
  background-color: #aaa; }

/*CONTROLS THIRD-AND ABOVE LEVEL LIST ITEMS*/
#menuh li ul li ul {
  margin: -22px 0 0 161px;
  /* the -top px vertically positions the right flyout */
  width: 160px;
  /*...and the left margin is ul-li-a horiz spacing+width+1/0 */ }

#menuh li ul li ul li a {
  background-color: #aaa;
  color: #fff; }

#menuh li ul li ul li a:hover {
  color: #aaa;
  background-color: #fff; }

/* lists nested under hovered list items */
#menuh li:hover ul ul, #menuh li:hover ul ul ul, #menuh li:hover ul ul ul ul, #menuh li.sfhover ul ul, #menuh li.sfhover ul ul ul, #menuh li.sfhover ul ul ul ul {
  left: -999em; }

#menuh li:hover ul, #menuh li li:hover ul, #menuh li li li:hover ul, #menuh li li li li:hover ul, #menuh li.sfhover ul, #menuh li li.sfhover ul, #menuh li li li.sfhover ul, #menuh li li li li.sfhover ul {
  left: auto; }

/* ----- footer menu --- */
.footer_menu {
  float: left;
  min-height: 100px;
  width: 850px;
  margin: 30px 0 0 0; }

.menu2 {
  display: inline;
  list-style: none;
  width: 850px; }

.menu2 li {
  float: left;
  margin: 0; }

.menu2 li.top a {
  text-transform: uppercase;
  color: #555;
  font-weight: bold; }

.menu2 li a {
  display: block;
  font-size: 13px;
  line-height: 18px; }

.menu2 li a:hover {
  color: #aaa; }

.menu2 li ul {
  position: relative;
  left: 0;
  list-style: none; }

.menu2 ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 140px; }

.menu2 ul li a {
  display: block;
  text-transform: capitalize !important;
  text-align: left;
  padding: 0;
  width: 100px;
  line-height: 15px;
  margin: 5px 0 0 0;
  font-weight: normal !important; }

.menu2 ul li a:hover {
  color: #999; }

/*------------------------------------------------------------------------------
SECONDARY NAV MENU
------------------------------------------------------------------------------*/
#secondary {
  position: relative;
  top: 34px;
  float: right;
  display: inline;
  list-style: none;
  z-index: 999; }

#secondary li {
  float: left;
  list-style: none;
  padding-right: 20px; }

#secondary li a {
  color: #999;
  font-size: 14px; }

#secondary li a:hover {
  color: #666; }

/*------------------------------------------------------------------------------
Sections
------------------------------------------------------------------------------*/
.section {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px 0px #bbbbbb;
  box-shadow: 0px 0px 10px 0px #bbbbbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  background: #fff;
  color: #0069aa; }

.section .dashtop {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px 20px; }
.section .dash_content {
  /*float: left;*/
  /*width: 100%;*/
  padding: 10px 20px; }
.section table {
  width: 100%; }

/*------------------------------------------------------------------------------
TABLES
------------------------------------------------------------------------------*/
table {
  margin: 0 0; }

table th {
  background-color: #999;
  color: #fff;
  padding: 5px 20px; }

table td {
  padding: 5px 20px; }

/*# sourceMappingURL=style.css.map */
